export PICO_TOOLCHAIN_PATH="$HOME/git/gcc-arm-none-eabi-10.3-2021.10/bin"
export PICO_SDK_PATH="$HOME/git/pico-sdk"
export PICO_EXAMPLES_PATH="$HOME/git/pico-examples"
export PICO_BOARD=pico2_w
export WIFI_SSID="your-ssid"
export WIFI_PASSWORD="your-wifi-password"
export API_URL="https://example.com"
